@keyframes slideFadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.modal-slide-fade-in {
  animation: slideFadeIn 0.5s ease-in-out forwards;
}

.modal-slide-fade-out {
  animation: slideFadeOut 0.5s ease-in-out forwards;
}


